.button_submit {
  width: 70%;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
  color: black;
  align-self: center;
  margin: 5px;
  border: 0;
  transition: .2s;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: white;
  }
  &:active {
    transform: scale(.98);
  }
}