.settings_common {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 350px;
  height: calc(100% - 50px);
  position: fixed;
  top: 55px;
  background-color: white;
  z-index: 1100;
  transition: .2s;
  box-shadow: 0 10px 15px 2px dimgray;
  border-radius: 5px;
  transform: translateX(-105%);

  &::-webkit-scrollbar {
    width: 7px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #36363A;
  }

  &::-webkit-scrollbar-track {
    border-radius: 15px;
    background: transparent;
  }
  &.dark {
    background-color: #36363A;
    color: white;
  }
  &.active {
    transform: translateX(2%);
  }
}
.flex_elem {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 93%;
  align-self: center;
  align-items: center;
  box-shadow: 0 0 7px 1px gray;
  padding: 5px;
  font-weight: bold;
  margin: 20px 0;
  border-radius: 5px;
  &.dark {
    box-shadow: 0 0 7px 1px black;
  }
}
.common_styles {
  width: 48%;
  font-family: inherit;
  font-weight: bold;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  margin: 5px 0;
  transition: .2s;
  outline: none;
  &:hover {
    background-color: black;
    color: white;
    &::placeholder {
      color: white;
    }
  }
  &.half {
    width: 22%;
  }
}
.checkbox_style{
  box-sizing: border-box;
  margin: 10px;
  outline: none;
  transform: scale(1.5);
}
.container_style {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 5px 10px;
  padding: 0;
  width: 40%;
  transition: box-shadow .1s;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    box-shadow: 0 0 10px 1px gray;
    &.dark {
      box-shadow: 0 0 15px 2px black;
    }
  }
  &:active {
    transform: scale(.98);
  }
  & label {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }
  &.full {
    width: 90%;
  }
}
.radio_style {
  box-sizing: border-box;
  margin: 10px;
  outline: none;
  transform: scale(1.5);
}
.button_submit {
  width: 70%;
  font-size: 18px;
  font-family: inherit;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
  color: black;
  align-self: center;
  margin: 5px;
  border: 0;
  transition: .2s;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
  &.dark{
    box-shadow: 0 0 10px 2px black;
  }

  &:hover {
    background-color: black;
    color: white;
  }
  &:active {
    transform: scale(.98);
  }
}
@media (max-width: 468px) {
  .settings_common {
    width: 100%;
    border-radius: 0;
    transform: translateX(-100%);
    &.active{
      transform: translateX(0);
    }
  }
}