.settings_common {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 350px;
  height: calc(100% - 50px);
  position: fixed;
  top: 55px;
  background-color: white;
  z-index: 1100;
  transition: .2s;
  box-shadow: 2px 0 15px 1px dimgray;
  transform: translateX(-100%);
  &.active{
    transform: translateX(0);
  }
}
.flex_elem {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 93%;
  align-self: center;
  align-items: center;
  box-shadow: 0 0 7px 1px gray;
  padding: 5px;
  font-weight: bold;
  margin: 20px 0;
}
.flex_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}
@media (max-width: 468px) {
  .settings_common {
    width: 100%;
  }
}