$size: 40px;
.button {
  top: 10px;
  width: $size;
  height: $size;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px 1px gray;
  border: 0;
  margin: 10px;
  background-color: white;
  color: black;
  font-size: 34px;
  transition: .2s;
  &:hover {
    background-color: black;
    color: white;
  }
  &:active {
    transform: scale(.9);
  }
}