@import "src/styles/ButtonCircle.scss";
.close_block {
  position: sticky;
  background: url('images/icons/white.png') center/cover no-repeat;
  transform: rotate(45deg);
  &:hover {
    background: url('images/icons/black.png') center/cover no-repeat;
    color: white;
  }
  &:active {
    transform: scale(.9);
  }
}
.left {
  align-self: flex-start;
}
.right {
  align-self: flex-end;
}