@import "src/styles/ButtonCircle.scss";
.chart_styles {
  background: url('images/icons/chart_normal.png') center/cover no-repeat;
  width: $size;
  height: $size;
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 800;
  &:hover{
    background: url('images/icons/chart_hover.png') center/cover no-repeat;
  }
}