.common_styles {
  width: 48%;
  font-family: inherit;
  font-weight: bold;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  margin: 5px 0;
  transition: .2s;
  outline: none;
  &:hover {
    background-color: black;
    color: white;
    &::placeholder {
      color: white;
    }
  }
  &.half {
    width: 22%;
  }
}