.charts_common {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 350px;
  height: calc(100% - 50px);
  position: fixed;
  right: 0;
  top: 55px;
  background-color: white;
  z-index: 1100;
  transition: .2s;
  box-shadow: 0 10px 15px 2px dimgray;
  border-radius: 5px;
  transform: translateX(105%);
  &::-webkit-scrollbar {
    width: 7px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #36363A;
  }

  &::-webkit-scrollbar-track {
    border-radius: 15px;
    background: transparent;
  }
  &.dark {
    background-color: #36363A;
    color: white;
  }
  &.active{
    transform: translateX(-2%);
  }
}
.big {
  width: 700px;
}
.sticky {
  flex-wrap: nowrap;
}
.flex_elem {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 93%;
  align-self: center;
  align-items: center;
  box-shadow: 0 0 7px 1px gray;
  padding: 5px;
  font-weight: bold;
  margin: 20px 0;
  border-radius: 5px;
  &.dark {
    box-shadow: 0 0 7px 1px black;
  }
}
@media (max-width: 468px) {
  .charts_common {
    width: 100%;
    border-radius: 0;
    transform: translateX(100%);
    &.active{
      transform: translateX(0);
    }
  }
}