@import "src/styles/ButtonCircle.scss";
.language_styles {
  background: url('images/icons/white.png') center/cover no-repeat;
  width: $size;
  height: $size;
  z-index: 800;
  margin: 0 20px;
  box-shadow: 0 0 10px 2px black;
  &.dark {
    background: url('images/icons/black.png') center/cover no-repeat;
    &:hover {
      background: url('images/icons/black_hover.png') center/cover no-repeat;
    }
  }
  &:hover{
    background: url('images/icons/white_hover.png') center/cover no-repeat;
  }
  &:active {
    transform: rotate(360deg);
  }
}